.award_frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    opacity: 0; /* Initially hidden */
    transform: translateX(-20px); /* Start off-screen */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.content.visible {
    opacity: 1;
    transform: translateX(0); /* Slide to position */
}


.first_position {
    color: #FF9E2C;
    margin: 1%;
}

.second_position {
    color: #3D89FA;
    margin: 1%;
}

.title {
    color: white;
    margin: 1%;
}

.paragraph {
    color: #C3CAD5;
    margin: 1%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        width: 0%;
    }
    to {
        width: 20%;
    }
}


.section_devider {
    height: 10px;
    background-color: white;
    margin: 2%;
}

.section_devider.animate {
    animation: slideIn 1s forwards;
}