.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.sub_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.slash {
    color: #075FE4;
}

.devider {
    height: 1px;
    width: 100%;
    margin-top: 50px;
    background-color: #5D6C83;
}

.horizontal_devider {
    width: 1px;
    height: 60vh;
    background-color: #5D6C83;
}

.vertical_devider {
    height: 1px;
    width: 100%;
    background-color: #5D6C83;

}

.right_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    width: 49%;
}

.left_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 49%;
    padding-top: 20px;
}

.education_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 5vh;
}

.hidden_vertical_devider {
    display: none;
    height: 1px;
    width: 100%;
    background-color: #5D6C83;

}

@media screen and (max-width: 600px) {

    .education_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 5vh;
    }

    .horizontal_devider {
        display: none;
    }

    .left_content {
        width: 100%;
    }

    .right_content {
        width: 100%;
    }

    .hidden_vertical_devider {
        display: flex;
        height: 1px;
        width: 100%;
        background-color: #5D6C83;
    }
    
}
