.header_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.sub_header {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.slash {
    color: #075FE4;
}


.devider {
    height: 1px;
    width: 100%;
    background-color: #5D6C83;
    margin-top: 40px;
}

.devider.hidden {
    display: none;
}
