
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  .slider {
    background-color: #1B1F24;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .slider .slide_track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 21);
  }
  
  .slider .slide {
    width: 250px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
  }
  