.title {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slash {
    opacity: 0.4;
}

.school_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
}

@media screen and (max-width: 768px) {
    .school_section {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.topic {
    padding-bottom: 10px;
    letter-spacing: -0.01em;
}

.date {
    opacity: 0.5;
}

.paragraph {
    opacity: 0.6;
}
